DATABASE_URL=postgresql://postgres:change-me@orchestrator-db:5432/transactions_db
BANK_SERVICE_URL=http://mock-bank-service:8000

RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=onyxpay
RABBITMQ_PASSWORD=change-me
RABBITMQ_VHOST=/
